<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title></title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.20/angular.js">

	</script>
</head>

<body ng-app="aula01">
	

	<div ng-controller='CabecalhoCtrl as cabecalho'>
		<input type="text" ng-model="cabecalho.usuario.nome"> 
		<input type="text" ng-model="cabecalho.usuario.sobrenome">
		<br>
		<button ng-click="cabecalho.enviarFormulario()"> Enviar </button>
	</div>
	<div ng-controller="MenuCtrl">
		{{nome}}
	</div>

	<script>
		var app = angular.module('aula01', []);
		app.controller('CabecalhoCtrl',[function(){
			var cabecalho = this;
			cabecalho.usuario = {
				nome:'dasdas5',
				sobrenome:''
			};
			cabecalho.enviarFormulario  = function(){
				console.log('aqui:',cabecalho.usuario);
			};
		}]);
		app.controller('MenuCtrl',['$scope',function($scope){
			$scope.nome = 'Usuário';
		}]);
	</script>

</body>

</html>