	<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title></title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.20/angular.js">

	</script>
</head>

<body ng-app="target">
	<script src='js/app.js'></script>
	<h1>cadastro de funcionarios</h1>
	<section ng-controller="ListaCtrl as lista">
	<input type="text" placeholder="filtrar" ng-model=filtro>
		<table>
			<thead>
				<tr>
					<th></th>
					<th>Nome</th>
					<th>Profissao</th>
					<th>fone</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="func in lista.funcionarios |filter:filtro">
					<td> 
					<input type="checkbox" ng-model="func.selecionado">
					</td>		
					<td>{{func.nome}}</td>
					<td>{{func.profissao}}</td>
					<td>{{func.telefone}}</td>
					<td> 
					<button ng-click="lista.editarFuncionario($index,func)">editar</button>
					<button ng-click="lista.removerFuncionario($index)">remover</button>
					</td>
				</tr>
			</tbody>
		</table>
		<hr>
			<button ng-click="lista.removerSelecionados()">Remover selecionados</button>
		<hr>
		Nome: <input type="Text" name="nome" ng-model="lista.novoFuncionario.nome">
		<br>
		Profissao: <input type="Text" name="nome" ng-model="lista.novoFuncionario.profissao">
		<br>
		telefone: <input type="Text" name="nome" ng-model="lista.novoFuncionario.telefone">
		<br>
		<button ng-click="lista.salvarFuncionario()"> salvar</button>
	</section>

	<script src='js/controllers/listaCtrl.js'></script>
</body>

</html>